.a-code__base {
  font-family: var(--text-code);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
}
@media only screen and (min-width: 1439px) {
  .a-code__base {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1919px) {
  .a-code__base {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
